{% extends 'app.html.twig' %}


{% block body %}
    <div class="container mt-3">
        <div class="card">
            <div class="px-3 py-3">
                <h3>Mes sports | <a href="{{ path('form_sport') }}"> modifier mes sports</a></h3>
                <div class="row">
                {% for sport in app.user.sports %}
                <div class="card text-white bg-warning ml-3 mb-3 mr-3 mt-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ sport.nom }}</h4>
                    </div>
                </div>

                {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
